<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779020397643-921um3ge2uqab2sqvuuuo033j6mf7n31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779020397643-921um3ge2uqab2sqvuuuo033j6mf7n31</string>
	<key>API_KEY</key>
	<string>AIzaSyAN8EzEPcUBOjqvIFgHyYaY_7XiwpDTQXA</string>
	<key>GCM_SENDER_ID</key>
	<string>779020397643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>devang.social-media</string>
	<key>PROJECT_ID</key>
	<string>socialmedia-dd00d</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmedia-dd00d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779020397643:ios:ce2bb1b7c66e6a0b0e31ce</string>
</dict>
</plist>